@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: orange; }
}

.typewriter-text {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  display: inline-block;
}

.cover{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 0.75rem;
  justify-content: space-between; 
  margin: 0 50px
}

.styling{
  color: yellow;
  background-color: rgba(0, 0, 0, 0.8);

}

.image-container {
  position: relative;
  width: 100px;  
  height: 100px; 
}
.image {
  border-radius: 10px; 
}

.footer {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  gap: 10px;
  font-size: 1rem;
}

.footer span{
  font-size: 2rem;
}

.footer span:hover{
  color: yellow;
}